In [1]:
RAW_NAMES = [
    'SPV  Inc., DBA:   Super  Company',
    'Michael Forsky LLC d.b.a F/B Burgers .',
    '*** Youthful You Aesthetics ***',
    'Aruna Indika (dba. NGXess)',
    'Diot SA,  -  D. B. A.   *Diot-Technologies*',
    'PERFECT PRIVACY, LLC, d-b-a Perfection,',
    'PostgreSQL DB Analytics',
    '/JAYE INC/',
    ' ETABLISSEMENTS  SCHEPENS /D.B.A./ ETS_SCHEPENS',
    'DUIKERSTRAINING OOSTENDE | D.B.A.:  D.T.O. '
]

In [2]:
CLEANED_NAME_PAIRS = [
    ('SPV Inc',                  'Super Company'),
    ('Michael Forsky LLC',       'F/B Burgers'),
    ('Youthful You Aesthetics',  None),
    ('Aruna Indika',             'NGXess'),
    ('Diot SA',                  'Diot-Technologies'),
    ('PERFECT PRIVACY, LLC',     'Perfection'),
    ('PostgreSQL DB Analytics',  None),
    ('JAYE INC',                 None),
    ('ETABLISSEMENTS SCHEPENS',  'ETS SCHEPENS'),
    ('DUIKERSTRAINING OOSTENDE', 'D.T.O'),
]

In [5]:
CLEANED_NAME_PAIRS

[('SPV Inc', 'Super Company'),
 ('Michael Forsky LLC', 'F/B Burgers'),
 ('Youthful You Aesthetics', None),
 ('Aruna Indika', 'NGXess'),
 ('Diot SA', 'Diot-Technologies'),
 ('PERFECT PRIVACY, LLC', 'Perfection'),
 ('PostgreSQL DB Analytics', None),
 ('JAYE INC', None),
 ('ETABLISSEMENTS SCHEPENS', 'ETS SCHEPENS'),
 ('DUIKERSTRAINING OOSTENDE', 'D.T.O')]

In [8]:
import re
# re.split(r"[\[\]]", "I need to [go out] to lunch")

In [9]:
# df['split'] = df['original'].map(lambda x: x.split('--', 1)[0])

In [10]:
# RAW_NAMES.map(lambda x: x.split())

In [13]:
unwanted = str.maketrans('', '', '.,:*()-/|')
# RAW_NAMES

In [14]:
clean = [i.translate(unwanted) for i in RAW_NAMES]

In [15]:
clean

['SPV  Inc DBA   Super  Company',
 'Michael Forsky LLC dba FB Burgers ',
 ' Youthful You Aesthetics ',
 'Aruna Indika dba NGXess',
 'Diot SA    D B A   DiotTechnologies',
 'PERFECT PRIVACY LLC dba Perfection',
 'PostgreSQL DB Analytics',
 'JAYE INC',
 ' ETABLISSEMENTS  SCHEPENS DBA ETS_SCHEPENS',
 'DUIKERSTRAINING OOSTENDE  DBA  DTO ']

In [26]:
# clean[2].strip()
cleaner = []

for i in clean:
    str(i).strip()
    cleaner.append(i)

In [27]:
cleaner

['SPV  Inc DBA   Super  Company',
 'Michael Forsky LLC dba FB Burgers ',
 ' Youthful You Aesthetics ',
 'Aruna Indika dba NGXess',
 'Diot SA    D B A   DiotTechnologies',
 'PERFECT PRIVACY LLC dba Perfection',
 'PostgreSQL DB Analytics',
 'JAYE INC',
 ' ETABLISSEMENTS  SCHEPENS DBA ETS_SCHEPENS',
 'DUIKERSTRAINING OOSTENDE  DBA  DTO ']

In [30]:
# above didnt work, so as a temp fix, below:
# cleaner[2] = clean[2].strip()
# cleaner[8] = clean[8].strip()
cleaner

['SPV  Inc DBA   Super  Company',
 'Michael Forsky LLC dba FB Burgers ',
 'Youthful You Aesthetics',
 'Aruna Indika dba NGXess',
 'Diot SA    D B A   DiotTechnologies',
 'PERFECT PRIVACY LLC dba Perfection',
 'PostgreSQL DB Analytics',
 'JAYE INC',
 'ETABLISSEMENTS  SCHEPENS DBA ETS_SCHEPENS',
 'DUIKERSTRAINING OOSTENDE  DBA  DTO ']

In [39]:
# now the words seem to be separated by the word DBA, dba, D B A
# so to split the list items on the above words and save in a new list as pairs
cleaner_pairs = []
for i in cleaner:
    i.split('DBA dba D B A')
    cleaner_pairs.append(i)

In [32]:
# cleaner[0].split('DBA', 1)

['SPV  Inc ', '   Super  Company']

In [92]:
# cleaner[0].split('DBA')
# cleaner[1].split('dba FB') works for multiple delimiters
# cleaner_pairs = []
DBA = [i.split('DBA') for i in cleaner]

AttributeError: 'list' object has no attribute 'split'

In [97]:
DBA

[['SPV  Inc ', '   Super  Company'],
 ['Michael Forsky LLC dba FB Burgers '],
 ['Youthful You Aesthetics'],
 ['Aruna Indika dba NGXess'],
 ['Diot SA    D B A   DiotTechnologies'],
 ['PERFECT PRIVACY LLC dba Perfection'],
 ['PostgreSQL DB Analytics'],
 ['JAYE INC'],
 ['ETABLISSEMENTS  SCHEPENS ', ' ETS_SCHEPENS'],
 ['DUIKERSTRAINING OOSTENDE  ', '  DTO ']]

In [100]:
dba = i.split('dba')

SyntaxError: invalid syntax (<ipython-input-100-175106aa03b8>, line 1)

In [91]:
DBA_ = [i.split('D B A') for i in dba]

[['SPV  Inc DBA   Super  Company'],
 ['Michael Forsky LLC dba FB Burgers '],
 ['Youthful You Aesthetics'],
 ['Aruna Indika dba NGXess'],
 ['Diot SA    ', '   DiotTechnologies'],
 ['PERFECT PRIVACY LLC dba Perfection'],
 ['PostgreSQL DB Analytics'],
 ['JAYE INC'],
 ['ETABLISSEMENTS  SCHEPENS DBA ETS_SCHEPENS'],
 ['DUIKERSTRAINING OOSTENDE  DBA  DTO ']]