In [ ]:
RAW_NAMES = [
    'SPV  Inc., DBA:   Super  Company',
    'Michael Forsky LLC d.b.a F/B Burgers .',
    '*** Youthful You Aesthetics ***',
    'Aruna Indika (dba. NGXess)',
    'Diot SA,  -  D. B. A.   *Diot-Technologies*',
    'PERFECT PRIVACY, LLC, d-b-a Perfection,',
    'PostgreSQL DB Analytics',
    '/JAYE INC/',
    ' ETABLISSEMENTS  SCHEPENS /D.B.A./ ETS_SCHEPENS',
    'DUIKERSTRAINING OOSTENDE | D.B.A.:  D.T.O. '
]

In [ ]:
CLEANED_NAME_PAIRS = [
    ('SPV Inc',                  'Super Company'),
    ('Michael Forsky LLC',       'F/B Burgers'),
    ('Youthful You Aesthetics',  None),
    ('Aruna Indika',             'NGXess'),
    ('Diot SA',                  'Diot-Technologies'),
    ('PERFECT PRIVACY, LLC',     'Perfection'),
    ('PostgreSQL DB Analytics',  None),
    ('JAYE INC',                 None),
    ('ETABLISSEMENTS SCHEPENS',  'ETS SCHEPENS'),
    ('DUIKERSTRAINING OOSTENDE', 'D.T.O'),
]

In [ ]:
# raw_names list has multiple special chars at various locations in its elements
# using .translate method to get rid of chars specified in the maketrans static method
unwanted = str.maketrans('', '', '':*-/|')

In [ ]:
clean = [i.translate(unwanted) for i in raw_names]

In [ ]:
# to remove the above special characters and then the names are divided by "d.b.a" so to split on dba to divide the names into
# 2 parts and save inthe dictionary